DDAssistant/.gitattributes
DDAssistant/.gitignore
DDAssistant/src/ddassistant/models/Arena.hx
DDAssistant_Android/.gitignore
DDAssistant_Android/.idea/.name
DDAssistant_Android/.idea/compiler.xml
DDAssistant_Android/.idea/copyright/profiles_settings.xml
DDAssistant_Android/.idea/encodings.xml
DDAssistant_Android/.idea/gradle.xml
DDAssistant_Android/.idea/misc.xml
DDAssistant_Android/.idea/modules.xml
DDAssistant_Android/.idea/runConfigurations.xml
DDAssistant_Android/.idea/vcs.xml
DDAssistant_Android/app/src.zip
DDAssistant_Android/build.gradle
DDAssistant_Android/gradle.properties
DDAssistant_Android/gradle/wrapper/gradle-wrapper.jar
DDAssistant_Android/gradle/wrapper/gradle-wrapper.properties
DDAssistant_Android/gradlew
DDAssistant_Android/gradlew.bat
DDAssistant_Android/settings.gradle
/DDAssistant/dd-combat-assistant.hxproj
